.revenue-widget .revenue-icon {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 30px;
}

.badge.badge-xs {
    font-size: 10px;
    padding: 3px 5px;
    line-height: 18px;
}

.value {
    padding: 2px;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 10px;
}

.profile-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #dee2e6;
}

.action-btns .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.table-responsive {
    overflow-x: auto;
}

.sidebar, .settings-sidebar {
    display: block;
    background-color: #ffffff;
    margin-top: 0;
    z-index: 1001;
    position: fixed;
    top: 65px;
    bottom: 0;
    left: 0;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-right: 1px solid #E6EAED;
    width: 260px;
}