.revenue-widget .revenue-icon {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 30px;
}

.badge.badge-xs {
    font-size: 10px;
    padding: 3px 5px;
    line-height: 18px;
}

.value {
    padding: 2px;
    border-radius: 4px;
    font-size: 14px;
    margin-left: 10px;
}

.profile-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #dee2e6;
}

.action-btns .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.table-responsive {
    overflow-x: auto;
}


.card .card-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    color: #212B36;
}