/* vietnamese */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/* vietnamese */
@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/src/assets/fonts/Lexend-VariableFont_wght.woff2") format("woff2");
}






@import "tailwindcss";

@theme {
--font-sans: "Lexend", ui-sans-serif, system-ui, sans-serif;

  /* Brand colors */
  --color-primary: #1e40af;
  --color-secondary: #38bdf8;
  --color-accent: #f59e0b;
}

@layer base {

  h1,
  h2,
  h3 {
    @apply font-sans text-primary font-medium;
  }
}